BR2_arm=y
BR2_arm1176jzf_s=y
BR2_ARM_EABIHF=y

# Linux headers same as kernel, a 4.19 series
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_19=y

#BR2_TOOLCHAIN_BUILDROOT_CXX=y

BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,raspberrypi,linux,676fd5a6f2a9b365da0e0371ef11acbb74cb69d5)/linux-676fd5a6f2a9b365da0e0371ef11acbb74cb69d5.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="bcmrpi"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="bcm2708-rpi-zero-w"
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

BR2_PACKAGE_RPI_FIRMWARE=y

# Required tools to create the SD image
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y

# Filesystem / image
# BR2_TARGET_ROOTFS_EXT2 is not set
BR2_TARGET_ROOTFS_F2FS=y
BR2_TARGET_ROOTFS_F2FS_LABEL=""
BR2_TARGET_ROOTFS_F2FS_SIZE="256M"
BR2_TARGET_ROOTFS_F2FS_COLD_FILES=""
BR2_TARGET_ROOTFS_F2FS_HOT_FILES=""
BR2_TARGET_ROOTFS_F2FS_OVERPROVISION=0
BR2_TARGET_ROOTFS_F2FS_DISCARD=y
BR2_TARGET_ROOTFS_F2FS_FEATURES=""
# BR2_TARGET_ROOTFS_TAR is not set
BR2_ROOTFS_POST_BUILD_SCRIPT="../board/rpi_wifi_bridge/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="../board/rpi_wifi_bridge/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS=""

BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox.config"
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="../busybox.config"

BR2_PACKAGE_AVAHI=y
BR2_PACKAGE_AVAHI_AUTOIPD=n
BR2_PACKAGE_AVAHI_DAEMON=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_CLIENT=n
BR2_PACKAGE_DROPBEAR_SMALL=n
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_PARPROUTED=y
BR2_PACKAGE_RPI_WIFI_FIRMWARE=y
BR2_PACKAGE_RNG_TOOLS=y
BR2_PACKAGE_TCPDUMP=y
BR2_PACKAGE_WIRELESS_REGDB=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_NL80211=y

BR2_TARGET_GENERIC_GETTY=n
BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW=n
BR2_ROOTFS_OVERLAY="../overlay-root"
BR2_LINUX_KERNEL_LZ4=y
BR2_PACKAGE_BUSYBOX_WATCHDOG=y

BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_OPTIMIZE_FAST=y
BR2_PIC_PIE=y
BR2_SSP_STRONG=y
BR2_RELRO_PARTIAL=y

BR2_TARGET_GENERIC_HOSTNAME="RPi-WiFi-Bridge"
